#SBATCH -J {{ processName }}
#SBATCH -o {{ processName }}.out.%J
#SBATCH -e {{ processName }}.err.%J
#SBATCH -p skx-normal
#SBATCH -N {{ nodes }}
#SBATCH -n {{ pes }}
#SBATCH -t {{ wallclock }}
#SBATCH -A {{ project }}
